<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Waiting...</title>
</head>

<body>
  <script src="oidc-client.min.js"></script>
  <script>

    var mgr = new Oidc.UserManager({userStore: new Oidc.WebStorageStateStore(), loadUserInfo: true, filterProtocolClaims: true});
    
    mgr.signinRedirectCallback().then(function (user) {
      window.location.href = '<%= BASE_URL %>';
    }).catch(function (err) {
      console.log(err);
    });

  </script>
</body>

</html>
