<template>
    <div class="about">
        <h1>This is an about page</h1>
        <p>Axios test: <BitcoinRate></BitcoinRate></p>
    </div>
</template>

<script>
import BitcoinRate from '../components/BitcoinRate';

export default {
    components: {
        BitcoinRate
    }
};
</script>
