<template>
    <!-- <Content /> -->
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <p>this is the Home view</p>
        </v-row>
    </v-container>
</template>

<script>
//import HelloWorld from '../components/HelloWorld';
//import Content from '@/components/Content';

export default {
    //    components: {
    //        Content
    //    }
};
</script>
