<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <p>{{ message }}</p>
        </v-row>
    </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    props: {
        unused: String
    },
    data: () => ({
        message: 'You have been logged out. Click the login button to login.'
    }),
    mounted() {
        //this.$store.dispatch('logout');
        //this.$store.state.mgr.signOut();
        this.signOutOidc();
    },
    methods: {
        ...mapActions(['signOutOidc'])
    }
};
</script>
