<template>
    <div></div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'OidcCallback',
    methods: {
        ...mapActions(['oidcSignInCallback'])
    },
    created() {
        this.oidcSignInCallback()
            .then(redirectPath => {
                //console.log("redirectPath: ", redirectPath);
                //console.log(
                //    'redirectPath: ',
                //    JSON.parse(JSON.stringify(redirectPath))
                //);
                if (redirectPath.startsWith('[')) {
                    this.$router.replace(process.env.BASE_URL);
                } else {
                    this.$router.replace(redirectPath);
                }
            })
            .catch(err => {
                console.error(err);
                //this.$router.push('/signin-oidc-error'); // Handle errors any way you want
                this.$router.replace(process.env.BASE_URL); // Handle errors any way you want
            });
    }
};
</script>
