<template>
    <div>
        <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
                <v-img
                    v-if="userPictureUrl"
                    :src="userPictureUrl"
                    max-width="100"
                    max-height="100"
                ></v-img>
            </v-row>
        </v-container>
        <v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
                <v-simple-table v-if="oidcIsAuthenticated">
                    <tbody>
                        <tr v-for="item in userSettings" :key="item.name">
                            <td>{{ item.name }}</td>
                            <td>{{ item.value }}</td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-row>
        </v-container>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    //    components: {
    //        Content
    //    }
    computed: {
        ...mapGetters(['oidcIsAuthenticated', 'oidcUser', 'oidcIdTokenExp']),
        userName: function() {
            if (this.oidcIsAuthenticated) {
                return this.oidcUser.name;
            } else {
                return 'anonymous';
            }
        },
        userPictureUrl: function() {
            if (this.oidcUser.picture.length) {
                return this.oidcUser.picture[0];
            } else {
                return undefined;
            }
        },
        userSettings: function() {
            if (this.oidcIsAuthenticated) {
                return [
                    {
                        name: 'First name',
                        value: this.oidcUser.given_name
                    },
                    {
                        name: 'Surname',
                        value: this.oidcUser.family_name
                    },
                    {
                        name: 'Email',
                        value: this.oidcUser.email
                    },
                    {
                        name: 'Email verified',
                        value: this.oidcUser.email_verified
                            ? this.oidcUser.email_verified
                            : 'Unknown'
                    },
                    {
                        name: 'Token expires',
                        //value: new Date(this.oidcIdTokenExp).toISOString()
                        value: new Date(this.oidcIdTokenExp)
                    }
                ];
            } else {
                return [];
            }
        }
    }
};
</script>
