<template>
    <span>
        <v-navigation-drawer v-model="drawerOpen" app>
            <v-list dense>
                <v-list-item
                    class="hidden-md-and-up"
                    v-if="!oidcIsAuthenticated"
                    @click="login"
                >
                    <v-list-item-action>
                        <v-icon>mdi-account-card-details</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Login</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item @click="redirectToHome" class="hidden-md-and-up">
                    <v-list-item-action>
                        <v-icon>home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    class="hidden-md-and-up"
                    v-if="oidcIsAuthenticated"
                    @click="logout"
                >
                    <v-list-item-action>
                        <v-icon>mdi-account-arrow-right</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                    class="hidden-md-and-up"
                    v-if="oidcIsAuthenticated"
                    @click="redirectToUserSettings"
                >
                    <v-list-item-action>
                        <v-icon>mdi-account-card-details</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Settings</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item @click="closeDrawerIfOpen">
                    <v-list-item-action>
                        <v-icon>mdi-access-point</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>FooBar</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item @click="closeDrawerIfOpen">
                    <v-list-item-action>
                        <v-icon>contact_mail</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Contacts</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar app color="indigo" dark>
            <v-app-bar-nav-icon
                v-tooltip="drawerTooltip + ' drawer'"
                @click.stop="drawerOpen = !drawerOpen"
            ></v-app-bar-nav-icon>
            <v-toolbar-title v-tooltip="'Home'">
                <router-link class="white-undecorated" to="/"
                    >Application</router-link
                >
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu v-if="oidcIsAuthenticated" open-on-hover offset-y>
                <template v-slot:activator="{ on }">
                    <v-btn
                        class="text-capitalize normal-font-letter-size pl-0 pr-0"
                        color="indigo"
                        depressed
                        v-on="on"
                    >
                        {{ userName }}
                        <v-icon class="hidden-sm-and-down"
                            >mdi-chevron-down</v-icon
                        >
                    </v-btn>
                </template>
                <v-list class="hidden-sm-and-down">
                    <v-list-item @click="redirectToUserSettings">
                        <v-list-item-title>Settings</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="logout">
                        <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
            <v-btn
                v-else
                icon
                v-tooltip="'Login'"
                @click="authenticateOidc"
                class="hidden-sm-and-down"
            >
                <v-icon large>mdi-account</v-icon>
            </v-btn>
            <v-avatar
                size="32px"
                v-tooltip="alternateSite"
                @click="redirectToAlternateSite"
                item
                tile
                class="white-undecorated"
            >
                <v-img :src="require('../assets/logo.png')" alt="Logo"> </v-img>
            </v-avatar>
        </v-app-bar>
    </span>
</template>

<script>
//import Mgr from '../plugins/SecurityService';
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            //mgr: new Mgr(),
            // userName: 'anonymous',
            //isSignedIn: false,
            drawerOpen: false,
            alternateSite: 'https://bitbucket.org/leonjohan3/profile/wiki/Home'
            //userMenuItems: [
            //    { title: 'Settings', to: '/' },
            //    { title: 'Logout', to: '/logout' },
            //    { title: 'Other', to: '/' }
            //]
        };
    },
    watch: {
        //isSignedIn: function(newValue) {
        //    if (newValue) {
        //        //            this.assignUserName();
        //        this.$store.dispatch('setUserName');
        //    }
        //}
    },
    mounted() {
        //this.authenticateOidc();
        //this.$store.dispatch('getSignedIn');
        //this.mgr.getSignedIn().then(
        //    signIn => {
        //        this.isSignedIn = signIn;
        //    },
        //    err => {
        //        // eslint-disable-next-line
        //        console.log(err);
        //    }
        //);
    },
    methods: {
        //flipDrawer: function() {
        //this.$store.commit('flipDrawer');
        //  this.drawerOpen = !this.drawerOpen;
        //},
        //assignUserName: function() {
        //    if (this.isSignedIn) {
        //        this.mgr.getUser().then(user => {
        //            this.userName = user.profile.name;
        //        });
        //    }
        //},
        doMe: function(value) {
            // eslint-disable-next-line
            console.log('value: ', value);
        },
        redirectToAlternateSite: function() {
            //window.location = this.alternateSite;
            window.open(this.alternateSite, '_blank');
        },
        ...mapActions(['signOutOidc', 'authenticateOidc']),
        logout: function() {
            this.closeDrawerIfOpen();
            this.signOutOidc();
            setTimeout(this.redirectAfterLogout(), 3000);
            //this.$router.push('/');
        },
        login: function() {
            this.closeDrawerIfOpen();
            this.authenticateOidc();
        },
        redirectAfterLogout: function() {
            window.location = process.env.BASE_URL;
        },
        redirectToUserSettings: function() {
            this.closeDrawerIfOpen();
            this.$router.replace('/userSettings');
        },
        redirectToHome: function() {
            this.closeDrawerIfOpen();
            //this.$router.replace(process.env.BASE_URL);
            this.$router.replace('/');
        },
        closeDrawerIfOpen: function() {
            if (this.drawerOpen) {
                this.drawerOpen = !this.drawerOpen;
            }
        }
        //  this.$store.dispatch('login');
        //this.mgr.signIn();
        //let self = this;
        //this.mgr.getUser().then(function(user) {
        // eslint-disable-next-line
                //console.log(user);
        //self.userName = user.profile.name;
        //});
        //this.userName = this.mgr.getUser().profile.name;
        //}
    },
    computed: {
        drawerTooltip: function() {
            //return this.$store.state.drawerOpen ? 'Close' : 'Open';
            return this.drawerOpen ? 'Close' : 'Open';
        },
        ...mapGetters(['oidcIsAuthenticated', 'oidcUser']),
        userName: function() {
            if (this.oidcIsAuthenticated) {
                return this.oidcUser.name;
            } else {
                return 'anonymous';
            }
        }
        //isSignedIn: function() {
        //    return this.$store.state.isSignedIn;
        //},
        //userName: function() {
        //    return this.$store.state.userName;
        //}
    }
};
</script>

<style scoped>
.normal-font-letter-size {
    font-size: 1rem;
    letter-spacing: normal;
}

.white-undecorated {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
</style>
