<template>
    <span>Bitcoin Price in USD: {{ message }}</span>
</template>

<script>
export default {
    data: () => ({
        bitcointPriceInUsd: '',
        bitcointPriceDate: '',
        isLoading: null
    }),
    computed: {
        message: {
            // getter
            get: function() {
                if (this.isLoading) {
                    return 'Loading...';
                } else {
                    if (this.bitcointPriceDate) {
                        return this.bitcointPriceInUsd.concat(
                            ' at ',
                            this.bitcointPriceDate
                        );
                    } else {
                        return this.bitcointPriceInUsd;
                    }
                }
            },
            // setter
            set: function(newValue) {
                this.bitcointPriceInUsd = newValue;
            }
        }
    },
    methods: {
        getBitcoinPrice: function() {
            this.axios
                .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                .then(response => {
                    this.bitcointPriceInUsd = response.data.bpi.USD.rate;
                    this.bitcointPriceDate = response.data.time.updated;
                    this.isLoading = null;
                })
                .catch(error => {
                    this.isLoading = null;
                    // eslint-disable-next-line
        console.log(error);
                    this.message = 'Error loading Bitcoin price';
                });
        }
    },
    mounted() {
        this.isLoading = true;
        setTimeout(this.getBitcoinPrice, 4000);
    }
};
</script>
