<template>
    <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
            <p>{{ message }}</p>
        </v-row>
    </v-container>
</template>

<script>
export default {
    props: {
        source: String
    },
    data: () => ({
        message: 'here is some text'
    })
};
</script>
