<template>
    <v-footer color="indigo" app>
        <span class="white--text">&copy; 2019</span>
    </v-footer>
</template>

<script>
export default {
    data: () => ({
        another: null
    })
};
</script>
