<template>
    <v-navigation-drawer v-model="drawerOpen" app>
        <v-list dense>
            <v-list-item @click="">
                <v-list-item-action>
                    <v-icon>home</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Home</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click="">
                <v-list-item-action>
                    <v-icon>contact_mail</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Contact</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    data: () => ({
        unused: null
    }),
    computed: {
        drawerOpen: {
            // getter
            get: function() {
                return this.$store.state.drawerOpen;
            },
            // setter
            set: function(newValue) {
                this.$store.commit('setDrawerOpen', newValue);
            }
        }
    }
};
</script>
