<template>
    <v-app id="inspire">
        <!-- <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Vuetify</span>
        <span class="font-weight-light">MATERIAL DESIGN</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
      >
        <span class="mr-2">Latest Release</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <HelloWorld/>
    </v-content> -->
        <!-- <NavigationDrawer />
        <AppBar />
        <Content />
         -->
        <app-navigation></app-navigation>

        <v-content transition="slide-x-transition">
            <router-view></router-view>
        </v-content>
        <Footer />
    </v-app>
</template>

<script>
//import HelloWorld from './components/HelloWorld';
import AppNavigation from '@/components/AppNavigation';

//import NavigationDrawer from './components/NavigationDrawer';
//import AppBar from './components/AppBar';
//import Content from './components/Content';
import Footer from './components/Footer';

export default {
    name: 'App',
    components: {
        AppNavigation,
        // HelloWorld,
        //NavigationDrawer,
        //AppBar,
        //Content,
        Footer
    }
    //data: () => ({
    //
    //})
};
</script>
